@import "src/view/style/variable";
@import "src/view/style/color";
@import "src/view/style/font";
@import "src/view/style/mixins";

.question {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  gap: 20px;
  border-radius: 4px;
  background-color: $white;
}
