@import "src/view/style/variable";
@import "src/view/style/color";
@import "src/view/style/font";
@import "src/view/style/mixins";

.question-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $gray6;
    }
  }

  &-divide {
    width: 1px;
    height: 20px;

    background-color: $gray4;
  }

  &-toggle-label {
    //margin-right: 4px;
    margin: 0 8px;
    font-size: 0.8em;
  }

  .react-toggle-track {
    width: 36px;
    height: 18px;
  }

  .react-toggle-thumb {
    width: 16px;
    height: 16px;
  }

  .react-toggle--checked .react-toggle-track {
    background-color: $primary;
  }

  .react-toggle--checked .react-toggle-thumb {
    left: 19px;
  }

  &-menu {
    position: absolute;
    bottom: -4px;
    right: 0;
    padding: 4px;
    transform: translateY(100%);
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: $white;

    &-button {
      display: flex;
      align-items: center;
      padding: 4px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: $gray5;
      }
    }
  }
}
