@import "src/view/style/variable";
@import "src/view/style/color";
@import "src/view/style/font";
@import "src/view/style/mixins";

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  gap: 10px;

  &-controller {
    position: absolute;
    top: 0;
    padding: 4px;
    border-radius: 4px;
    transform: translateX(calc(100% + 10px));
    background-color: $white;

    &-add {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border-radius: 4px;

      &:hover {
        background-color: $gray5;
      }
    }

  }
}
